<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Havainnot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Tänne voit tehdä havintoja:</h1>
    
		
     <form action="#" th:action="@{/eka}" th:object="${tyhja}"
		method="post">
		<p>
			TIla: <input type="text" th:field="*{tila}" />
		</p>
		<p>
			Tyyppi <input type="text" th:field="*{tyyppi}" />
		</p>
		<p>
			Havainto <input type="text" th:field="*{havainto}" />
		</p>
		<p>
			Osoite <input type="text" th:field="*{osoite}" />
		</p>
		<p>
			Ilmoittaja <input type="text" th:field="*{ilmoittaja}" />
		</p>
		<p>
			<input type="submit" value="Lähetä" />
		</p>
	</form>
	   	
</body>
</html>